- var slides = ['One', 'Two', 'Threek', 'Four', 'Five', 'Six'];
- var desc = "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis quo, assumenda consequuntur, recusandae fugiat voluptatem, ipsa vero tempore ea aspernatur, tenetur vel. Voluptatibus, beatae sunt adipisci, tempore quibusdam aliquid labore!";

mixin slide(index, val)
	li
		div(class="slide"+index)
			.slide-info
				.slide-title= "Slide "+val
				.slide-desc= desc

section.slider
	ul.bxslider
		each val, index in slides
			+slide(index+1, val)
	.slider-controls
		.slider-controls-prev
		.slider-controls-next

section.features
	article.portfolio
		header
			h2 Check  out  my  latest portfolio  items
		.desc Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
		a(class="btn btn-more" href=jv0) More
	article.services
		header
			h2 Offer  Top  Notch  Quality Work  &  Services
		.desc Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
		a(class="btn btn-more" href=jv0) More
	article.follow
		header
		h2 Follow  Me  on  Twitter, Facebook  &  Pinterest
		.desc Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
		a(class="btn btn-more" href=jv0) More

section.recent-works
	header.recent-works-header
	article.recent-works-one
		figure
			img(src="../../assets/images/im-recent-1.png")
			figcaption "lol"
	article.recent-works-two
		figure
			img(src="../../assets/images/im-recent-2.png")
			figcaption
	article.recent-works-three
		figure
			img(src="../../assets/images/im-recent-3.png")
			figcaption
	article.recent-works-four
		figure
			img(src="../../assets/images/im-recent-4.png")
			figcaption
