footer.page-footer.deco-bottom
	article.about
		h1 About  Jetro
		p Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire convenire his ea. Id mei vitae denique, in eam commodo veritus disputando. <br><br>Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
	article.twitter
		h1 Twitter  Widget
		.tweet
			#[a(href=jv0) @pixelmater] What an awesome design with great functionality :)
			footer about 1 hour ago
		.tweet
			#[a(href=jv0) @designdude] What an awesome design with great functionality :)
			footer about 2 hour ago
		p Follow #[a(href=jv0) @bestpsdfreebies]
	article.contact
		h1 Contact  Us
		address Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel. Urbanitas adolescens vim te, per at tritani aperiri. <br><br>
			#[a(href=jv0) information@jetro.com ]  <br> 1.222.333.4444
		ul.soc-panel
			li
				a(href=jv0 class='fb')
			li
				a(href=jv0 class='tw')
			li
				a(href=jv0 class='ma')
			li
				a(href=jv0 class='rs')
			li
				a(href=jv0 class='vi')
